root = true

# Tüm dosyalar
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# C# dosyalarý
[*.cs]
indent_style = space
indent_size = 4

# Proje dosyalarý
[*.{csproj,sln,json}]
charset = utf-8
